<div class="row">
  <div class="large-12 columns">
    <h1>
      Online Store!!
    </h1>

  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="row collapse">
      <div class="small-10 columns">
        <input id="search-text" type="text" placeholder="Gap Floral Pants">
      </div>
      <div class="small-2 columns">
        <a id="search-button" href="#" class="button postfix">Search</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <hr/>
    <p>Results: </p>
     <div class="row">
      <div class="large-12 columns">

      </div>
    </div>

  </div>
</div>



